/* 
    Document   : about_us
    Created on : 29 Oct, 2010, 12:48:23 PM
    Author     : barun
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

/*
root { 
    display: block;
}
*/

.aboutUs {
    padding-left: 10px;
}
p.aboutUsText {
    margin-left: 25px;
    font-size: small;
}
.creditsIcon {
    background-position: left;
    background-repeat: no-repeat;
}
.creditsHeader {
    padding-left: 30px;
}
